.venv
.vscode

*.ipynb
__pycache__/
*.pyc
*.pyo
*.pyd

# langgraph dev test
testapp/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Electron
frontend/dist/
frontend/out/

# OS
.DS_Store
Thumbs.db

# dataset
raw_data/

# env
.env

# results
results/

# legacy
legacy/